body, html{
  height:100%;
}
html{
  background: url(images/alcoholicCowboysBG.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  margin: 0px;/*
  background-image: url(images/alcoholicCowboysBG.jpg);
  width: 100%;
  height: 100%;*/
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.title, .changeBackgroundButton{
  padding: 5px 12px;
  float:left;
}
.topbar{
  height:32px;
  background-color: #555;
  /*display: inline-block;*/
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}
.blinkyDancer{
  border-radius:10px;
  border:10px solid red;
}
.otherDancer{
  border-radius:10px;
  border:10px solid blue;
}
.mutantFish{
  border: 10px;
}
.dancer img{
  width: 200px;
  height: auto;
}
